In [3]:
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect('Db-IMDB.db')

df = pd.read_sql_query("SELECT * FROM Movie", cnx)

In [4]:
df.head()

   index        MID          title  year  rating  num_votes
0      0  tt2388771         Mowgli  2018     6.6      21967
1      1  tt5164214  Ocean's Eight  2018     6.2     110861
2      2  tt1365519    Tomb Raider  2018     6.4     142585
3      3  tt0848228   The Avengers  2012     8.1    1137529
4      4  tt8239946        Tumbbad  2018     8.5       7483